/* .button-icon {
  background-color: brown;
  width: 44px;
  height: 44px;
  fill: chocolate;
  border-radius: 50%;
  display: block;
}

.button-icon:hover {
  background-color: crimson;
  fill: cyan;
} */
.button {
  text-align: center;

  padding: 0;
  border: none;
  width: 100px;
  height: 100px;
  color: #2a2a2a;
  border-radius: 50%;
  background-color: teal;
}

.button:hover {
  color: #fff;
  background-color: darkblue;
}

.button-icon {
  margin-top: 20px;
  fill: currentColor;
}
